.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $nav-height;

    &-img {
        position: fixed;
        top: $nav-height;
        left: 0;
        width: 50%;
        height: $calc-vh-height;
        background: url(../img/about-us.png) center/cover no-repeat;
    }

    &-content {
        padding: 40px 60px;
    }

    &-heading {
        font-size: 28px;
        color: $main-color;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &-text {
        font-size: 28px;
        color: $second-color;
        line-height: 1.2;
        margin-bottom: 40px;
        
        &._bold {
            font-weight: 700;
        }
    }
}