.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $first-color;
    z-index: 1;
}

.navbar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 30px;

    &-link {
        color: $second-color;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s;

        &:hover {
            color: $main-color;
        }
    }

    &-lang {
        justify-self: start;
    }

    &-logo {
        color: $first-color;
        background-color: $main-color;
        font-size: 30px;
        padding: 30px 36px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-decoration: none;
        justify-self: center;
    }

    &-cart {
        justify-self: end;

        &-text {
            margin-right: 56px;
        }

        &-number {
            color: $main-color;
        }
    }
}

.nav-ticker {
    padding: 22px 0;
    white-space: nowrap;
    overflow: hidden;

    &-content {
        display: inline-block;
        padding-left: 100%;
        animation: ticker 40s linear infinite;

        &:hover {
            animation-play-state: paused;
        }
    }

    &-link {
        color: $second-color;
        font-size: 32px;
        text-decoration: none;
        margin-right: 20px;
        transition: 0.4s;

        &:hover {
            color: $main-color;
        }
    }
 }
 
 @keyframes ticker {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
 }